body{
  background-color: black;
}

.app {
  text-align: center;
  margin-top: 50px;
}

.button-container {
  text-align: center;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.bottom-heading {
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px 0; /* Ajusta el espaciado superior e inferior según sea necesario */
  margin: 10px;
}